template(name='nav')
    .ui.attached.borderless.large.menu
        a.image.item(href='/')
            img.ui.small.image(src='http://cioctomastermind.com/wp-content/uploads/2018/12/cioctommttbt-logo-horiz.png')
        a.item(href='/users')
            i.users.icon
        a.item(href='/events')
            i.calendar.icon
        a.item(href='/chats')
            i.chat.icon
        .right.menu
            if currentUser
                a.item.add(href='#')
                    i.link.plus.icon
                a.item.add(href='/mail')
                    i.link.mail.icon
                a.item(href='/alerts')
                    i.link.bell.icon
                a.item(href='/settings')
                    i.link.cog.icon
                a.item(href="/u/#{currentUser.username}")
                    i.user.icon
                    | #{currentUser.username}
                a.item.logout(href='#')
                    i.sign.out.alternate.icon
            else
                a.icon.item(href="/login")
                    i.sign.in.alternate.icon

