template(name='type')
    +Template.dynamic template=delta_type


template(name='mail')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                |inbox
                .ui.header my messages #{currentUser.karma}
            .twelve.wide.column
                .ui.header 
                    i.inbox.icon
    
template(name='alerts')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
            .twelve.wide.column
                .ui.header 
                    i.bell.icon
        |Alerts
    
    
    
template(name='chat')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                if dark_side
                    .ui.header 
                        i.chat.icon
                        |chat
                    .ui.header make yourself heard
                else
                    .ui.header 
                        i.chat.icon
                        | Chat
                    .ui.header communication is key
            .twelve.wide.column
                .ui.fluid.icon.input
                    i.chat.icon
                    input.add_comment(type='text' placeholder='comment')
                .ui.comments
                    each chats
                        .comment
                            .content
                                .header #{body}
                                .meta #{when}
                                +voting

    
template(name='events')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                if dark_side
                    .ui.header 
                        i.calendar.icon
                        | events
                    .ui.small.header reputation is everything
                else
                    .ui.header 
                        i.calendar.icon
                        | Calendar
                    .ui.small.header connect with community
            .twelve.wide.column
    
            